.InputWrapper {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  font-family: var(--font-family-main);
  padding: 8px 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  transition: all 0.2s ease;

  &:focus-within {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgb(var(--primary-color-rgb) / 10%);
  }
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--primary-color);
  caret-color: transparent;
  font-family: var(--font-family-main);
  font-size: 16px;
  line-height: 1.5;

  &::placeholder {
    color: var(--secondary-color);
    opacity: 0.7;
  }

  &:focus {
    outline: none;
  }
}

.placeholder {
  margin-right: 8px;
  color: var(--secondary-color);
  font-family: var(--font-family-main);
  font-size: 16px;
  opacity: 0.7;
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  position: absolute;
  background: var(--primary-color);
  height: 2px;
  width: 8px;
  bottom: 2px;
  left: 0;
  animation: caret-blink 0.7s forwards infinite;
}

@keyframes caret-blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
