.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0452ff;
  --inverted-secondary-color: #0232c2;
  --primary-color-rgb: 4, 150, 4;
  --secondary-color-rgb: 4, 255, 4;
  --inverted-primary-color-rgb: 4, 82, 255;
  --inverted-secondary-color-rgb: 2, 50, 194;
}
