:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
  --primary-color-rgb: 2, 50, 194;
  --secondary-color-rgb: 4, 73, 224;
  --inverted-primary-color-rgb: 4, 255, 4;
  --inverted-secondary-color-rgb: 4, 150, 4;
}
